@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost:wght@400;500&family=Roboto&display=swap');

* {
   font-family: 'Roboto';
}

body{
   background: #ffd362;
   font-size: 4vw;
   text-align: center;
}